.dashboard {
    background-color: beige;
    width: 100vw;
    overflow-x: hidden;
    display: grid;
    grid-template-areas: 
        "top-nav top-nav top-nav"
        "left-menu welcome-title right-blank"
        "left-menu zones right-blank"
        "left-menu weather right-blank"
        "footer footer footer"
        "bottom-blank bottom-blank bottom-blank";
    grid-template-columns: fit-content(120px) auto 30px;
    grid-template-rows: auto 125px 250px 350px 100px 30px;
}

/* Main grid pieces styled here */

.bottom-blank {
    background-color: green;
    grid-area: bottom-blank;
}

.right-blank {
    background-color: purple;
    grid-area: right-blank;
}

.footer {
    background-color: red;
    grid-area: footer;
}

.welcome-title {
    background-color: pink;
    grid-area: welcome-title;
}

.zones {
    background-color: greenyellow;
    grid-area: zones;
}

.weather {
    background-color: blue;
    grid-area: weather;
    overflow-x: scroll;
}

.top-nav {
    background-color: bisque;
    grid-area: top-nav;
}

.left-menu {
    background-color: peru;
    grid-area: left-menu;
}

/* Flex containers styles here */

.weather-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: max(5vw, 50px);
}

.zone-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
}
