.main-container {
    background-color: #f2eee3;
    width: 100vw;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: max(2vh, 10px);
}

.profile-display {
    /* background-color: lightseagreen; */
}

.dashboard {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: max(5vh, 20px);
    border-radius: 28px;
    border: 4px solid #173D23; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}


.weather-zone-container {
    display: flex;
    flex-direction: row;
}

/* .weather-zone-container {
    background-color: purple;
} */

.footer {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.stats-container {
    margin-top: 32px;
    display: flex;
    justify-content: flex-start;
}
.zones-stats-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 40px; /* space between zones and temp/humidity */
  }
  
  .stats-inline {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
  }