.main-container {
    background-color: #f2eee3;
    width: 100vw;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: max(2vh, 10px);
}

.profile-display {
    /* background-color: lightseagreen; */
}

.dashboard {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: max(5vh, 20px);
    border-radius: 28px;
}

.weather-zone-container {
    display: flex;
    flex-direction: row;
}

.weather-zone-container {
    /* background-color: purple; */
}

.footer {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.stats-container {
    position: absolute;
    bottom: 120px;
}




