.dashboard {
    background-color: #f2eee3;
    width: 100vw;
    overflow-x: hidden;
    display: grid;
    grid-template-areas: 
        "top-nav top-nav top-nav"
        "left-menu welcome-title right-blank"
        "left-menu zones right-blank"
        "left-menu weather right-blank"
        "footer footer footer"
        "bottom-blank bottom-blank bottom-blank";
    grid-template-columns: fit-content(120px) auto 30px;
    grid-template-rows: auto 125px 250px 375px 100px 30px;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Main grid pieces styled here */

.bottom-blank {
    background-color: #F2EEE3;
    grid-area: bottom-blank;
}

.right-blank {
    background-color: #F2EEE3;
    grid-area: right-blank;
}

.footer {
    background-color: #F2EEE3;
    grid-area: footer;
    text-align: center;
    padding: 50px;
}

.welcome-title {
    background-color: white;
    grid-area: welcome-title;
    padding-left: 15px;
    margin-top: 10px;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
}

.zones {
    background-color: white;
    grid-area: zones;
    overflow-x: scroll;
    padding-left: 15px;
}

.weather {
    background-color: white;
    grid-area: weather;
    overflow-x: scroll;
    padding-left: 15px;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
}

.top-nav {
    background-color: #F2EEE3;
    grid-area: top-nav;
}

.left-menu {
    background-color: #F2EEE3;
    grid-area: left-menu;
}

/* Flex containers styles here */

.weather-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: max(3vw, 45px);
}

.zone-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: max(2vw, 10px);
}

/* misc stylings */

.small-title-fixer {
    position: absolute;
}
