.background-container {
    background-color: #f2eee3;
}

.form-container {
    background-color: white;
}

.add-enabled {    
    color: #173D23;
    background-color: #F2EEE3;
}

.add-disabled {
    color: #F2EEE3;
    background-color: #173D23;
    cursor: text;
    text-decoration: none;
    pointer-events: none;
}