.large-weather-card-container {
    width: max(18vw, 120px);
    height: max(18vw, 120px);
}

.large-weather-card-image {
    background-color: white;
    width: max(18vw, 120px);
    height: max(18vw, 120px);
    border-radius: 28px;
}

.large-day-caption {
    color: rgba(23, 61, 35, 75%);
    font-size: max(1.2vw, 12px);
}

.large-weather-card-title {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: max(1.5vw, 18px);
}

.large-weather-card-subtitle {
    font-size: max(1.05vw, 15px);
    width: max(18vw, 90px);
}