.notification-item {
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
    padding: .5em;
    padding-left: 1em;
}

.notif-header,
.notif-severity,
.notif-message {
  line-height: 1.2;
  display: flex;
  align-items: center;
}


.notif-header {
    margin-right: 1em;
}

.notif-message {
    margin: 0;
}

.blue-notif {
    background-color: #8b8bdd;
}

.red-notif {
    background-color: #e2b6a6;
}

.green-notif {
    background-color: #78c678;
}