.notification-item {
    background-color: #2f763e60;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
    padding: .5em;
    padding-left: 1em;
}

.notif-header {
    margin-right: 1em;
}