.profile-display-all {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.profile-display-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    width: max(18vw, 100px);
    padding: 10px;
    border-radius: 28px;
    border: 4px solid #173D23; 
}

.profile-mini {
    display: flex;
    flex-direction: column;
    align-items: center;
}
