.profile-display-all {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.profile-display-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    width: max(18vw, 100px);
    height: 82.9vh;
    padding: 10px;
    border-radius: 28px;
    border: 4px solid #173D23; 
    overflow-y: auto;
    overflow-x: hidden;
}

.profile-mini {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info {
    align-items: center;
    text-align: center;
}

.display-name {
    font-weight: bold;
    font-size: 1.75em;
}

.start-date {
    font-style: italic;
}

.action-buttons {
    display: flex;
    justify-content: center;
}

.action-buttons button {
    background-color: #ffffff00;
    font-family: "Nunito";
    color: #173D23;
    border: 2px solid #173D23;
    border-radius: 5px;
    font-size: 1.5em;

    display: block;
    font-size: 1em;
}

.stats {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.stat-item {
    background-color: #F2EEE3;
    margin: .1em;
    border-radius: 5px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5px;
    padding-top: 5px;
    width: 33%;
    height: 9.6em;
}

.stat-icon {
    width: 3em;
}

.stat-qty {
    text-align: center;
    font-size: 2em;
}

.stat-label {
    text-align: center;
    margin-top: -1.4em;
}