.alert-preferences {
    background-color: #F2EEE3;
    margin-bottom: 1em;
    margin-top: 1em;
    border-radius: 1em;
    padding: .5em;
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 100%;
}

.alert-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5em;
    cursor: pointer;
    width: 100%;
}

.alert-checkbox span {
    flex-grow: 1;
}

.alert-checkbox input {
    flex-shrink: 0;
    margin-left: 0;
    vertical-align: middle;
    height: 1.2em;
    width: 1.2em;
}

#profile-image-sm {
    width: 40%;
    height: 40%;
    margin-right: 1em;
    overflow: hidden;
}

#profile-image-sm img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.profile-image {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-image-upload {
    border: 2px solid black;
    border-radius: 1em;
    background-color: #f2eee300;
    color: black;
}

.name-input {
    background-color: rgba(0, 0, 0, 0);
    border-radius: .5em;
    border-color: black;
    color: black;
}