.root {
    width: 100%;
}

.profile-creation-container {
    background-color: #F2EEE3;
    padding: 10px;
    border: 4px solid #02aa31e6;
    border-radius: 28px;

    /* Centering */
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Optional: make responsive */
    max-width: 90%;
    width: 300px; /* or whatever makes sense for desktop */
}

.profile-form-container {
    padding: 20px;
}

.flex-form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

}

.field {
    display: flex;
    flex-direction: column;
}

/* for the profile image input field */
#profile-image {
    width: 250px;
}

#image-label {
    width: 180px;
}

input {
    width: 200px;
    margin-top: 5px;
}

label {
    width: 120px;
}