.sidebar-column {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    height: 100%;
    align-self: stretch;
  }
  
  .sidebar-column::after {

    width: 90%;
    max-width: 280px;
    left: 50%;
    transform: translateX(-50%);
  
    border-bottom: 4px solid #2f763e;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  
  }
  