.small-title-container {
    width: max(18vw, 150px); /* put this back to 12vw after demo on 9/24 */
    height: max(3vw, 30px); 
    font-size: max(1.75em, 20px);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}