.weather-card-container {
    width: max(6vw, 50px); /*font will be 5 times the view width (if 12vw > 12px), but at least 12px*/
    height: max(6vw, 50px);
}

.card-flex-container {
    text-wrap: balance;
    width: max(4vw, 50px);
    height: max(4vw, 50px);
}

.weather-card-image {
    background-color: white;
    width: max(5vw, 75px);
    height: max(5vw, 75px);
    border-radius: 28px;
}

.day-caption {
    color: rgba(23, 61, 35, 75%);
    font-size: max(0.75vw, 10px);
}

.weather-card-title {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: max(1vw, 16px);
}

.weather-card-subtitle {
    font-size: max(0.8vw, 12px);
    width: max(5vw, 50px);
    text-wrap: wrap;
}