.zone-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px;
}

.circle-img {
    background-color: white;
    width: max(7vw, 100px);
    height: max(7vw, 100px);
    border-radius: 50%;
    border-color: black;
    border-width: 5px;
}

.caption {
    width: max(7vw, 100px);
    height: max(3vw, 50px);
    font-size: max(1vw, 12px); /* font will be 1.2 times the view width (if 1.2vw > 12px), but at least 12px */
    text-align: center;
    overflow: hidden;
}
