.zone-edit-container {
    background-color: #F2EEE3;
}

.zone-heading {
    color: #173D23;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal; 
    font-size: max(1.75vw, 20px);
}

.show-description {
    color: #173D23;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: max(1.2vw, 18px);
}