.zone-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.circle-img {
    background-color: white;
    min-width: 75px;
    min-height: 75px;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    padding: 10px;
    border-color: black;
    border-width: 5px;
}

.caption {
    min-width: 100px;
    width: 9vw;
    font-size: max(1.2vw, 12px); /*font will be 1.2 times the view width (if 1.2vw > 12px), but at least 12px*/
}